body {
    background-color: var(--branco);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 300;
    color: var(--preto);
}

.cabecalho__menu {
    width: 24px;
    height: 24px;
    background-image: url("../assests/Menu\ Dona\ Benta.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 10%;
    width: 40%;
    height: 18%;
    z-index: 1000;
    background-color: var(--branco);
    border-radius: 16px;

}
.lista-menu__item {
    padding: 0.6em 0;
}

.lista-menu__link {
    text-decoration: none;
    font-size: 16px;
    color: var(--azul);
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.swiper {
    display: block;
    width: 80%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    background: #073FF5;
    border-radius: 24px;
    height: 40vw;
}

.amarelo {
    background: #F7E853;
    color: black;
}

.verde {
    background: #CAFB5C;
}

.disco-imagem {
    padding-top: 1em;
    padding-left: 1em;
    width: 25%;
}

.carrossel-texto {
    color: var(--branco);
    margin-right: 5em;
    padding-top: 1em;
    padding-left: 1em;
    font-family: var(--fonte-secundaria);
    font-size: 22px;
}

.carrossel-texto-receitas, .carrossel-texto-benta {
    margin-right: 5em;
    padding-top: 1em;
    padding-left: 1em;
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    color: var(--preto);
}

.titulo-do-feed {
    padding-top: 10em;
}

.feed-container {
    display: flex;
    flex-direction: column;
}

.feed {
    font-family: var(--fonte-secundaria);
    color: var(--cinza);
    margin: 2em 2em;
    display: flex;
    flex-direction: column;
}

.feed-titulo {
    font-size: 30px;
}

.paragrafo-feed {
    padding-top: 0.5em;
}


/* .filtro-imagem {
    padding-left: 4.5em;
} */

.container__rotulo {
    display: flex;
    /* flex-direction: row-reverse; */
}

.filtro__menu {
    background-image: url("../assests/Filter.svg");
    width: 24px;
    height: 24px;
    background-position: right;
    display: flex;
    /* flex-direction: row-reverse; */
    background-repeat: no-repeat;
    margin-left: 6em;
}

.container__botao:checked ~ .container__rotulo > .filtro__menu {
    background-image: url('../assests/Filter\ branco.svg');
    background-color: var(--azul);
    border-radius: 5px;
}

.lista-filtro {
    display: none;
    justify-self: right;
    background-color: var(--branco);
    height: 32em;
    border-radius: 26px;
    width: 100%;
    z-index: 1000;
    position: relative;
}

.lista-filtro-titulo {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    color: var(--cinza);
    padding: 1em 0 0 0.8em;
}

.lista-filtro-subtitulo {
    font-size: 30px;
    font-family: var(--fonte-secundaria);
    color: var(--preto);
    padding: 0.2em 0 0 0.8em;

}

.lista-filtro__item {
    padding: 0.4em;
    margin-top: 1.5em;
    display: flex;
    justify-self: center;
}
 
.lista-filtro__link {
    text-decoration: none;
    font-size: 14px;
    font-family: var(--fonte-principal);
    color: var(--preto);
    margin: 0em 0.7em;
    border: 2px solid #F8F8F8;
    border-radius: 10px;
    background-color: #F8F8F8;
    height: 2em;
    padding: 0.5em 1em;

}

.lista-filtro__link.persisted-focus {
    border: 2px solid var(--azul);
    color: var(--azul);
}

.botão-filtrar {
    font-family: var(--fonte-secundaria);
    color: var(--branco);
    font-weight: 100;
    font-size: 14px;
    border: 2px solid var(--azul);
    border-radius: 16px;
    background-color: var(--azul);
    padding: 1em;
    text-decoration: none;
    margin: 0 5em;
}

.container__botao:checked ~ .lista-filtro {
    display: block;
}

.container__botao:checked ~ body {
    background-color: var(--azul);
}


.receitas {
    color: var(--azul);
    font-weight: 600;
}

.imagens-feed {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    margin-top: 4em;
}

.imagem-receita {
    display: flex;
    align-self: center;
    padding: 1em 0;
    width: 100%;
}

.imagens-feed .imagem-texto {
    position: absolute;
    bottom: 54.5%;
    background-color: var(--azul);
    opacity: 74%;
    width: 100%;
    text-align: left;
    font-family: var(--fonte-secundaria);
    font-size: 14px;
}

.imagem-texto {
    border: 10px solid var(--azul);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--branco);
}

.receita-titulo {
    margin-right: 8em;
}

.imagem-postado {
    font-size: 10px;
    padding-top: 0.5em;
}

.icones {
    display: flex;
    justify-content: right;
    padding-right: 1.5em;
}

.quadrado {
    padding-bottom: 0.7em;
    padding-right: 1em;
}

.coracao {
    padding-right: 0.2em;
    padding-bottom: 0.9em;
}

.imagens-feed .imagem-texto-torta {
    position:absolute;
    bottom: 2.8%;
    background-color: #F7E853;
    opacity: 74%;
    width: 100%;
    text-align: left;
    font-family: var(--fonte-secundaria);
    font-size: 14px;
}

.imagem-texto-torta {
    border: 10px solid #F7E853;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--preto);
}


footer {
    display: flex;
    position: fixed; 
    bottom: 0%;
    left: 0;
    background: var(--branco);
    width: 100%;
    justify-content: center;
    transition: transform 0.5s ease;
    transform: translateY(100%);
}

.botoes-lista {
    padding: 2em;
    display: flex;
}

.botao {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    
}

.rodape-texto, .rodape-texto-ex {
    text-decoration: none;
    padding-top: 0.2em;
    color: var(--azul);
    padding-right: 1em;
}

.rodape-texto-ex {
    color: var(--cinza);
}

.imagem-rodape {
    width: 45%;
    margin-left: 0.3em;
}

.imagem-rodape-ex {
    width: 40%;
    margin-left: 0.6em;
}

.botao-download {
    padding-top: 0.5em;
}


.download {
    text-decoration: none;
    color: var(--branco);
    border: 8px solid var(--azul);
    border-radius: 16px;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    background: var(--azul);
}

footer.show {
    transform: translateY(0%) ;
}