.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 300;
    color: var(--preto);
}

.swiper {
    display: flex;
    width: 80%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    background: #073FF5;
    border-radius: 24px;
    height: 40vw;
}

.amarelo {
    background: #F7E853;
    color: black;
}

.verde {
    background: #CAFB5C;
}

.disco-imagem {
    padding-top: 1em;
    padding-left: 1em;
    width: 25%;
}

.carrossel-texto {
    color: var(--branco);
    margin-right: 5em;
    padding-top: 1em;
    padding-left: 1em;
    font-family: var(--fonte-secundaria);
    font-size: 22px;
}

.carrossel-texto-receitas, .carrossel-texto-benta {
    margin-right: 5em;
    padding-top: 1em;
    padding-left: 1em;
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    color: var(--preto);
}

.mixes {
    display: flex;
    margin: 2em;
}

.mixes-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mixes-texto {
    font-family: var(--fonte-secundaria);
    color: var(--preto);
}

strong {
    color: var(--cinza);
}


.filtro {
    width: 5%;
}

.feed-container {
    display: flex;
    flex-direction: column;
}

.feed {
    font-family: var(--fonte-secundaria);
    color: var(--cinza);
    margin: 2em 2em;
    display: flex;
    flex-direction: column;
}

.feed-titulo {
    font-size: 30px;
}

.receitas {
    color: var(--azul);
    font-weight: 600;
}

.imagens-feed {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    margin: 0 2em;
}

.imagem-receita {
    display: flex;
    align-self: center;
    padding: 1em 0;
    width: 100%;
}

.imagens-feed .imagem-texto {
    position: absolute;
    bottom: 55.3%;
    height: 18vw;
    background-color: var(--azul);
    opacity: 74%;
    width: 100%;
    text-align: left;
    font-family: var(--fonte-secundaria);
    font-size: 14px;
}

.imagem-texto {
    border: 10px solid var(--azul);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--branco);
}

.receita-titulo {
    margin-right: 11em;
}

.imagem-postado {
    font-size: 10px;
    padding-top: 0.5em;
}

.icones {
    display: flex;
    justify-content: right;
    padding-right: 1.5em;
}

.quadrado {
    padding-bottom: 0.7em;
    padding-right: 1em;
}

.coracao {
    padding-right: 0.2em;
    padding-bottom: 0.9em;
}

.imagens-feed .imagem-texto-torta {
    position: absolute;
    bottom: 3.4%;
    height: 13%;
    background-color: #F7E853;
    opacity: 74%;
    width: 97%;
    text-align: left;
    font-family: var(--fonte-secundaria);
    font-size: 14px;
}

.imagem-texto-torta {
    border: 10px solid #F7E853;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--preto);
}



.carrossel-secundario {
    display: flex;
    width: 80%;
    height: auto;
    
}

.daily-mixes {
    background: #C1E3FF;
    border-radius: 30px;
    height: 50vw;
}

.conteudo-carrossel-secundario {
    display: flex;
}

.imagem-carrossel {
    margin: 1em 1em;
    width: 20%;
}

.carrossel-titulo-secundario {
    font-size: 22px;
    color: var(--preto);
    padding-top: 1em;
}


.carrossel-texto-secundario {
    text-align:left;
    font-size: 12px;
    margin-right: 1em;
    padding: 0.5em 0;
}

.soundbar {
    width: 80%;
    margin-left: 2em;
}

.play-pause {
    display: flex;
    width: 55%;
    padding-top: 1em;
    margin-left: 4em;
}

.imagem-sounds {
    margin: 0 1em;
    width: 15%;
}

.rosa {
    width: 50%;
    background-color: #FFF0C1;
}

.rodape {
    display: flex;
    /* position: fixed; */
    bottom: 0%;
    left: 0;
    background: var(--branco);
    width: 100%;
    justify-content: center;
}

.botoes-lista {
    padding: 2em;
    display: flex;
}

.botao {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    
}

.rodape-texto, .rodape-texto-ex {
    text-decoration: none;
    padding-top: 0em;
    color: var(--azul);
    padding-right: 2.5em;
}

.rodape-texto-ex {
    color: var(--cinza);
}

.imagem-rodape {
    width: 50%;
}

.imagem-rodape-ex {
    width: 45%;
}

.botao-download {
    padding-top: 0.5em;
}


.download {
    text-decoration: none;
    color: var(--branco);
    border: 8px solid var(--azul);
    border-radius: 16px;
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    background: var(--azul);
}